/****** Imports ***********/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
/************************************************* General *************************************************/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --bg-color: #ffffff;
  --filter-bg-color: #deebff;
  --border-color: #d4d8db;
  /* --body-font-size: 1rem;
    --body-highlight-font-size: 1rem;

    --title-font-size: 1.25rem;

    --body-line-height: 1.25rem;
    --body-highlight-line-height: 1.25rem;
    --header-line-height: 3rem;
    --title-line-height: 1.5rem; */
}

body {
  max-width: 1440px;
  margin: auto;
}

/* main properties */
main {
  padding: 0 50px;
}

a {
  color: inherit;
  text-decoration: none;
}

p,
a {
  font-size: 1em;
}

p {
  margin: 0;
}

.fa-solid {
  color: var(--main-color);
}

.talign-c {
  text-align: center;
}

.talign-l {
  text-align: left;
}

main,
.infos {
  display: flex;
  flex-direction: column;
  gap: 2.1875em;
}

.highlight-word {
  font-size: 1.125em;
  font-weight: 700;
}

.euro {
  font-weight: 700;
}

/************************************************* header *************************************************/
header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header__logo {
  max-width: 5%;
  padding: 30px 50px;
}

.header__nav {
  align-items: flex-start;
  display: flex;
  gap: 4.25em;
  padding: 0 25px;
}
.header__nav-item {
  padding-top: 14px;
}

.header__nav-item:hover {
  border-top: 2px solid var(--main-color);
  color: var(--main-color);
}

/********************************* search area properties *********************************/
.infos__title {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
/************* Search area form *************/
.infos__form {
  display: flex;
  align-items: center;
}
/* search section (label + input) */
.infos__form-search {
  display: flex;
  border-radius: 15px 0 0 15px;
  border: 1px solid var(--border-color);
  border-right: none;
  overflow: auto;
}
.infos__form-search-label {
  background-color: var(--border-color);
}

.infos__form-search-label i {
  color: black;
  padding: 15px;
}

.infos__form-search-input {
  border: none;
  padding: 14px;
}

/* search submit */
.infos__form-search-submit {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 0 15px 15px 0;
  color: var(--bg-color);
  padding: 14px;
}

.infos__form-search-submit--mobile {
  display: none;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: var(--bg-color);
  padding: 15px;
}

/************* Search area filter *************/
.infos__filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.9375em;
}

.infos__filters-selector {
  display: flex;
  flex-wrap: wrap;
  gap: 0.9375em;
}

.infos__filter-selector-button {
  font-size: 1.0625em;
  font-weight: 700;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0.625em;
  height: 3.125em;
  padding: 4px 19px;
  border: 2px solid var(--border-color);
  border-radius: 25px;
  background-color: var(--bg-color);
  justify-content: center;
  white-space: nowrap;
}

.infos__filter-selector-button:hover {
  background-color: var(--filter-bg-color);
}

/************* Search area information *************/
.infos__informations {
  display: flex;
  align-items: center;
  align-self: stretch;
  gap: 0.625em;
}

.infos__informations-icon {
  border: 1px solid var(--border-color);
  width: 24px;
  height: 24px;
  border-radius: 100%;
  text-align: center;
}
.infos__informations-icon i {
  margin: 3px auto;
}

/************************************************* section *************************************************/
.section-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 1.875em;
}

.section-container__title {
  font-size: 22px;
  margin: 0;
}

/********************************* card *********************************/
.cards-container {
  display: flex;
  gap: 1.875em;
}

.card {
  display: flex;
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
  border: 5px solid var(--bg-color);
  align-self: stretch;
}

.card__title {
  font-size: 16px;
  margin: 0%;
}

.card__content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 10px 5px 5px 15px;
  justify-content: space-between;
}

.card__content-txt {
  display: flex;
  flex-direction: column;
}

.card__content-rating {
  margin-bottom: 5px;
}

.card__content-rating--neutral-star {
  color: var(--main-bg-color);
}
/********************************* Hosting And Popular properties *********************************/
.hostings-and-popular {
  display: flex;
  justify-content: space-between;
}

.hostings-and-popular section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  box-sizing: border-box;
}

/************* Hostings properties *************/
.hostings {
  width: 65%;
}

.hostings__cards {
  flex-flow: row wrap;
}

.hostings__cards a {
  flex: 1 30%;
}

.hostings__cards .card {
  flex-direction: column;
  gap: 0.25em;
  padding: 0%;
}

.hostings__cards img {
  border-radius: 20px 20px 0 0;
  height: 124px;
}

.hostings__cards .card__content {
  padding: 0 15px;
  gap: 0.5em;
}

.hostings__cards .card__content-txt {
  gap: 0.25em;
}

/************* Popular properties *************/
.popular {
  width: 32%;
}

.popular__title {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.popular__cards {
  flex-direction: column;
}

.popular__cards img {
  border-radius: 20px 0 0 20px;
  height: 136px;
  width: 33%;
}
.popular__cards .card__content-txt {
  gap: 0.3125em;
}
/********************************* Activities properties *********************************/
.activities {
  overflow: auto; /*!!debug*/
}

/* .activities__card a {
  flex: 1 5%;
} */

.activities__cards .card {
  flex-direction: column;
  /* !! unity dimension */
  /* width: 298px; */
  /* height: 439px; */
  border-radius: 20px;
  padding: 0;
  gap: 0.625em;
}

.activities__cards img {
  height: 380px;
  border-radius: 20px 20px 0px 0px;
}

.activities__cards .card__title {
  padding: 5px 20px;
  margin: 0;
}

/********************************* Footer properties *********************************/
.footer {
  flex-direction: row;
  background-color: var(--main-bg-color);
  margin: 35px 50px 0 50px;
  padding: 0px;
}

.footer__section {
  padding: 20px;
  width: 33%;
}

.footer__section-list {
  list-style: none;
  margin: 0%;
  padding: 0%;
}

.footer__section-list,
.footer__section-list-item {
  margin-top: 15px;
}

/************************************************* Media queries *************************************************/
/* Le code ci-dessous correspond à la version responsive uniquement */
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hostings-and-popular {
    flex-direction: column;
  }

  .hostings {
    width: 100%;
  }

  .popular {
    margin-top: 50px;
    width: 100%;
  }

  .popular__cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .popular__cards a {
    width: 30%;
  }

  .popular__cards .card__title {
    font-size: 14px;
  }

  .popular__cards .card__subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */

  /************* Search area form *************/
  /* search submit */
  .infos__form-submit {
    display: none;
  }

  .infos__form-submit--mobile {
    display: block;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: var(--main-bg-color);
    padding: 15px;
  }

  .infos__form-submit--mobile i {
    color: var(--main-bg-color);
  }
}
