/****** Imports ***********/
/* google font Raleway */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
/************************************************* General *************************************************/
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --bg-color: #ffffff;
  --filter-bg-color: #deebff;
  --infos-border-color: #d9d9d9;
}

body {
  max-width: 1440px;
  margin: auto;
}

/* main properties */
main {
  padding: 0 50px;
}

a {
  color: inherit;
  text-decoration: none;
}

p,
a {
  font-size: 1rem;
}

p {
  margin: 0;
}

.fa-solid {
  color: var(--main-color);
}

.talign-c {
  text-align: center;
}

.talign-l {
  text-align: left;
}

main,
.infos {
  display: flex;
  flex-direction: column;
  gap: 2.1875rem;
}

.highlight-word {
  font-size: 1.125rem;
  font-weight: 700;
}

.euro {
  font-weight: 700;
}

/************************************************* header *************************************************/
header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header__logo {
  /* width: 5%; */
  height: 19px;
  padding: 30px 50px;
}

.header__nav {
  align-items: flex-start;
  display: flex;
  gap: 4.25rem;
  padding: 0 25px;
}
.header__nav-item {
  padding-top: 14px;
}

.header__nav-item:hover {
  border-top: 2px solid var(--main-color);
  color: var(--main-color);
}

/********************************* search area properties *********************************/
.infos__title {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
/************* Search area form *************/
.infos__form {
  display: flex;
  width: fit-content;
  max-height: 49px;
  border-radius: 15px;
  border: 1px solid var(--main-bg-color);
  align-items: center;
  gap: 1.5rem;
  overflow: hidden;
}

.infos__form-search-label {
  background-color: var(--main-bg-color);
  height: 49px;
  width: 3.125rem;
  display: flex;
  justify-content: center;
}

.infos__form-search-label i {
  color: black;
  align-self: center;
}

.infos__form-search-input {
  border: none;
  padding: 0%;
}

/* search submit */
.infos__form-search-submit {
  background-color: var(--main-color);
  border: none;
  color: var(--bg-color);
  padding: 15px 16px;
}

.infos__form-search-submit--mobile {
  display: none;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 15px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: var(--bg-color);
  padding: 15px;
}

/************* Search area filter *************/
.infos__filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.9375rem;
}

.infos__filters-selector {
  display: flex;
  flex-wrap: wrap;
  gap: 0.9375rem;
}

.infos__filter-selector-button {
  font-size: 1.0625rem;
  font-weight: 700;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0.625rem;
  height: 3.125rem;
  padding: 4px 19px;
  border: 2px solid var(--infos-border-color);
  border-radius: 25px;
  background-color: var(--bg-color);
  justify-content: center;
  white-space: nowrap;
}

.infos__filter-selector-button:hover {
  background-color: var(--filter-bg-color);
}

/************* Search area information *************/
.infos__informations {
  display: flex;
  align-items: center;
  align-self: stretch;
  gap: 0.625rem;
}

.infos__informations-icon {
  border: 1px solid var(--infos-border-color);
  width: 24px;
  height: 24px;
  border-radius: 100%;
  text-align: center;
}
.infos__informations-icon i {
  margin: 3px auto;
}

/************************************************* section *************************************************/
.section-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}

.section-container__title {
  font-size: 1.375rem;
  margin: 0;
}

/********************************* card *********************************/
.cards-container {
  display: flex;
  gap: 1.875rem;
}

.card {
  display: flex;
  background-color: white;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
  border: 5px solid var(--bg-color);
  align-self: stretch;
  box-sizing: border-box;
}

.card__title {
  font-size: 1rem;
  margin: 0%;
}

.card__subtitle {
  font-size: 0.875em;
}

.card__content {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 10px 5px 5px 15px;
  justify-content: space-between;
}

.card__content-txt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card__content-rating--neutral-star {
  color: var(--main-bg-color);
}
/********************************* Hosting And Popular properties *********************************/
.hostings-and-popular {
  display: flex;
  justify-content: space-between;
}

.hostings-and-popular section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  box-sizing: border-box;
}

/************* Hostings properties *************/
.hostings {
  width: 65%;
}

.hostings__cards {
  flex-flow: row wrap;
  justify-content: center;
}

.hostings__cards a {
  width: 30%;
}

.hostings__cards .card {
  flex-direction: column;
  gap: 0.25rem;
  padding: 0 0 15px 0;
  height: 192px;
}

.hostings__cards img {
  border-radius: 20px 20px 0 0;
  min-height: 114px;
}

.hostings__cards .card__content {
  padding: 0 15px;
  gap: 0.5rem;
}

.hostings__cards .card__content-txt {
  gap: 0.5rem;
}

/************* Popular properties *************/
.popular {
  width: 32%;
}

.popular__title {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.popular__cards {
  flex-direction: column;
}

.popular__cards .card {
  height: 145px;
}

.popular__cards img {
  border-radius: 20px 0 0 20px;
  min-height: 140px;
  width: 33%;
  border-right: none;
}

.popular__cards .card__content-txt {
  gap: 0.3125rem;
}
/********************************* Activities properties *********************************/
.activities__cards a {
  width: 23%;
}

.activities__cards .card {
  flex-direction: column;
  border-radius: 20px;
  height: 439px;
  padding: 0;
  flex: 1 0 0;
}

.activities__cards img {
  height: 380px;
  border-radius: 20px 20px 0px 0px;
  border: none;
}

.activities__cards .card__title {
  padding: 20px 19px;
  box-sizing: border-box;
}

/********************************* Footer properties *********************************/
.footer {
  flex-direction: row;
  background-color: var(--main-bg-color);
  margin: 35px 50px 0 50px;
  padding: 0px;
}

.footer__section {
  padding: 20px;
  width: 33%;
}

.footer__section-list {
  list-style: none;
  margin: 0%;
  padding: 0%;
}

.footer__section-list,
.footer__section-list-item {
  margin-top: 15px;
}

/************************************************* Media queries *************************************************/

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  /************** infos tablet ***********************/

  /***** infos filters  tablet*****/
  .infos__filters {
    flex-direction: column;
    align-items: flex-start;
  }
  .infos__filter-selector-button {
    font-size: 1rem;
  }

  /************* Hostings and popular tablet *************/
  .hostings-and-popular {
    flex-direction: column;
  }

  /***** hostings tablet *****/
  .hostings {
    width: 100%;
  }

  /***** popular tablet *****/
  .popular {
    margin-top: 50px;
    width: 100%;
  }

  .popular__cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.25rem;
  }

  .popular__cards a {
    width: 33%;
  }
  /************* Activities tablet *************/
  .activities__cards a {
    width: 22%;
  }
  .activities__cards .card {
    height: 270px;
  }

  .activities__cards img {
    height: 200px;
  }

  .activities__cards .card .card__title {
    height: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  /************* Footer tablet *************/
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* *********** header mobile ********************* */
  header {
    flex-direction: column;
    margin-bottom: 30px;
  }

  .header__logo {
    margin: auto;
  }

  .header__nav {
    justify-content: center;
    gap: 0;
    padding: 0%;
  }

  .header__nav-item {
    flex-basis: 50%;
    padding: 0 0 15px 0;
  }

  .header__nav-item:hover {
    border-top: none;
    border-bottom: 2px solid var(--main-color);
    color: var(--main-color);
  }

  /************** main mobile *************/
  main {
    padding: 0;
  }
  /************** infos mobile ***********************/

  /***** infos area form  mobile*****/
  .infos {
    padding: 0 20px;
    align-items: center;
  }

  .infos__form {
    overflow: visible;
    width: 100%;
  }

  .infos__form-search-label {
    border-radius: 15px 0 0 15px;
  }

  .infos__form-search-input {
    width: 65%;
  }

  .infos__form-search-submit {
    display: none;
  }

  .infos__form-search-submit--mobile {
    display: block;
    position: relative;
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: var(--main-bg-color);
    padding: 15px;
  }

  .infos__form-search-submit--mobile i {
    color: var(--main-bg-color);
    height: 17px;
    width: 17px;
  }

  /***** infos filters mobile *****/
  .infos__filters-selector {
    justify-content: space-between;
  }

  .infos__filter-selector-button {
    font-size: 0.875em;
    width: 48%;
    justify-content: stretch;
  }

  /************* Hostings and popular mobile *************/
  /***** popular mobile *****/
  #popular {
    background-color: var(--main-bg-color);
    border-radius: 0%;
    margin-top: 0px;
    padding: 30px 20px;
  }

  .popular__cards {
    flex-direction: column;
  }

  .popular__cards a {
    width: 100%;
  }

  .popular__cards img {
    min-height: 146px;
  }
  /***** hostings mobile *****/
  #hostings {
    order: 2;
    padding: 1.25rem;
    background-color: var(--bg-color);
  }

  .hostings__cards {
    flex-direction: column;
  }

  .hostings__cards a {
    width: 100%;
  }

  /************* Activities mobile *************/
  .activities__cards {
    flex-direction: column;
  }

  .activities__cards a {
    width: 100%;
  }
  .activities__cards .card {
    height: 200px;
  }
  .activities__cards .card img {
    height: 141px;
  }

  /************* Footer mobile *************/
  .footer {
    flex-direction: column;
    padding: 30px;
    margin: 0;
    gap: 3.125rem;
  }

  .footer__section {
    width: 100%;
    padding: 0%;
  }
}
